{% extends "bootstrap/base.html" %}

{% block head %} {{ super()}} <link rel="stylesheet" href={{url_for('static', filename='css/mystyle.css')}} > {% endblock %}
{% block title %} Whiterose Home {% endblock %}

{% block navbar%}

<div class="navbar navbar-inverse" role="navigation">
	<div class=container>
		<ul class="nav">
			{% if current_user.is_authenticated %}
			<li><a href={{ url_for('auth.logout')}}>Sign Out </a></li>
			{% else %}
			<li><a href={{ url_for('auth.login')}}>Sign In</a></li>
			<li><a href={{ url_for('auth.register')}}> Register </a></i>
			{% endif %}
			<li><a href={{url_for('index')}}>Home</a></li>
		</ul>
	</div>
</div>
{% endblock %}
{% block body %}
{{super()}}
	<div class=container>
		<div class="col text-center">
			<img src={{url_for('static', filename='banner/banner.PNG')}} class="img-fluid banner">
		</div>
		<div class="col text-center">
			<button class="explore-button btn btn-link"><a href={{url_for('explore')}}><img src={{url_for('static', filename='buttons/explore.PNG')}} class="img-fluid explore"></a></button>
		</div>
	</div>
Hello, 
{% if current_user.is_authenticated %}
	{{ current_user.username }}
{% else %}
	Stranger
{% endif %}!
{% endblock %}

