.navbar-inverse {
	background-color: black !important;
}

ul.nav  li {
	color: white !important;
	background-color: black !important;
}

ul.nav  a:hover {
	color: white !important;
	background-color: black !important;
}
ul.nav  a:link {
	color: white !important;
	background-color:black !important;
}

ul.nav  a:visited {
	color: white !important;
	background-color: black;
}

ul.nav  a:active {
	color: white;
	background-color:black;
}
body {
	background-color: #000000 !important;
}

.banner {
	max-width: 100%;
	height: auto;
	animation-name: fade-in-banner;
	animation-duration: 6s;
}

.explore {
	max-width: 100%;
	height: auto;
	animation-name: fade-in-explore;
	animation-duration: 8s;
}
.explore-button {
	background-color:"black";
}

button.explore-button a{
	background-color:"black"
}

label.change {
	color: white !important;
}

input.form-control {
	color: black 
}

@keyframes fade-in-banner {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fade-in-explore {
	from {opacity:0;}
	to {opacity:1;}
}
