{% extends "bootstrap/base.html" %}
{% block head %} {{ super()}} <link rel="stylesheet" href={{url_for('static', filename='css/mystyle.css')}} > {% endblock %}
{% block title %} Login {% endblock %}
{% block navbar%}

<div class="navbar navbar-inverse" role="navigation">
	<div class=container>
		<ul class="nav">
			{% if current_user.is_authenticated %}
			<li><a href={{ url_for('auth.logout')}}>Sign Out </a></li>
			{% else %}
			<li><a href={{ url_for('auth.login')}}>Sign In</a></li>
			<li><a href={{ url_for('auth.register')}}> Register </a></i>
			{% endif %}
			<li><a href={{url_for('index')}}>Home</a></li>
		</ul>
	</div>
</div>
{% endblock %}
{% block body %}
{{super()}}
<div class="row">
	<div class="col">
	
		<div class="col text-center">
			<form method="POST" action="/auth/login">
				<div class="form-group col-md-4 col-lg-offset-4">
					{{ loginform.csrf_token() }}
					{{loginform.email.label(class_='change') }} {{loginform.email(class_='form-control')}}
					{{loginform.password.label(class_='change') }} {{loginform.password(class_='form-control')}}
					{{loginform.remember_me.label(class_='change') }} {{loginform.remember_me(class_='form-control')}}
					{{loginform.submit(class_='form-control') }}
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
